<div class="card card-component-1">
    <div class="btn-edit" style="float:right">
        <a href=""><i class="bi bi-pencil-square"></i></a>
        <a href=""><i class="bi bi-x-square"></i></a>
    </div>
    <div class="card-titles">    
        <h2 class="align-title">ACERCA DE MI</h2>
        <hr class="divider">
        
  
    </div>
    <div class="row" >
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="about-me-img">
            <div class="col-8">
                <img src="../../../../assets/images/profile-pic.jpg" alt="profile-pic" class="profile-pic rounded-circle img-fluid" >
                <h5 class="text-center name">Emi Ramirez<br>Full Stack Developer Jr.</h5>
                <div class="btn-edit">
                    <i class="bi bi-pencil-fill"></i>
                </div>
            </div>
        </div>
        
        <div class="col-6 align-title text-center">
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Praesentium odio earum fugit, temporibus, minima asperiores repellat fuga eaque alias, quam est eum quod unde debitis.
                Doloremque saepe cum neque iusto aut, distinctio voluptate consectetur quibusdam, officiis esse magnam. Voluptatibus est perspiciatis rerum libero tenetur nihil hic voluptatem illo. Exercitationem alias, perspiciatis reiciendis deserunt quasi incidunt voluptate facilis consequuntur at quis odit nulla eum provident. Omnis repellat dolorum asperiores earum ipsum.
            </h5>
        </div>
        <div class="col-3"></div>
        
            
    </div>    
</div>
       
