

  <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-nav-dark"> 
    
        <a class="navbar-brand" href="#">
          <img src="assets/images/APLogo.svg" class="bi" style="width:5em;">
        </a>
        <div class="navbar-right">
          <a class="navbar-brand" href="#">
            <i class="bi bi-github"></i>
          </a>
          <a class="navbar-brand" href="#">
            <i class="bi bi-instagram"></i>
          </a>
          <a class="navbar-brand" href="#">
            <i class="bi bi-facebook"></i>
          </a>
          <a class="navbar-brand" href="#">
            <i class="bi bi-linkedin"></i>
          </a>
          <button type="button" class="btn btn-outline-light" (click)="login()">Login</button>
        </div>
      
  </nav>
  <header class=" vh-100 header-page card-banner" id="first card">
  <div class="container saludo">
    <div class="col-8">
      <h1 class="text-white font-weight-bold">Hola! Soy Emi, estudiante de programación, y este es mi Portfolio</h1>
      <hr class="divider">
    </div>
  </div>

</header>
      
   
 


