<div class="card mat-card">
    <div class="row" id="info" style="padding:16px" >
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 " id="info-img">
            <img src="../../../../assets/images/profile-pic.jpg" alt="profile-pic" class="profile-pic img-fluid">
            <div class="btn-edit">
                <i class="bi bi-pencil-fill"></i>
            </div>
        </div>
        <div class="card-titles col-10">
            <h2>Acerca de mi</h2>
            <div class="btn-edit">
                <a href=""><i class="bi bi-pencil-fill"></i></a>
            </div>
        </div>

        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Nihil vel vitae itaque omnis est sed, maiores numquam cum similique porro!
            </p>     
            <a href="#" class="btn btn-primary" >Go somewhere</a>  
            <a href="#" class="btn btn-secondary" >Go otherside</a>
        </div>   
    </div>
</div>