<div class="card bg-card card-component">
    <div class="btn-edit" style="float:right">
        <a href=""><i class="bi bi-pencil-square"></i></a>
        <a href=""><i class="bi bi-x-square"></i></a>
    </div>
    <div class="card-titles">
        
        <h2 class="align-title">HARD & SOFT SKILLS</h2>
    
    </div>
    <div>
        <ul class="item-list">
            <li>
                <div class="item-list-content">
                    <div class="item-list-content-title">
                        <h4>Desarrollador Web</h4>
                    </div>
                    <div class="item-list-content-subtitle">
                        <h5>Empresa</h5>
                    </div>
                    <div class="item-list-content-date">
                        <h5>Fecha</h5>
                    </div>
                </div>
            </li>
        </ul>
</div>

