<div class="card bg-card card-component-2">
    <div class="btn-edit navbar-right">
        <a href=""><i class="bi bi-pencil-square"></i></a>
        <a href=""><i class="bi bi-x-square"></i></a>
    </div>
    <div class="card-titles">   
        <h2 class="align-title">EXPERIENCIA</h2>
        <hr class="divider">
    </div>
    <ul>
            <li>
                <div class="item-list-content">
                    <div class="item-list-content-title">
                        <h3>Desarrollador Web</h3>
                    </div>
                    <div class="item-list-content-subtitle">
                        <h4>Empresa</h4>
                    </div>
                    <div class="item-list-content-date">
                        <h5>Fecha</h5>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-list-content">
                    <div class="item-list-content-title">
                        <h4>Desarrollador Web</h4>
                    </div>
                    <div class="item-list-content-subtitle">
                        <h5>Empresa</h5>
                    </div>
                    <div class="item-list-content-date">
                        <h5>Fecha</h5>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-list-content">
                    <div class="item-list-content-title">
                        <h4>Desarrollador Web</h4>
                    </div>
                    <div class="item-list-content-subtitle">
                        <h5>Empresa</h5>
                    </div>
                    <div class="item-list-content-date">
                        <h5>Fecha</h5>
                    </div>
                </div>
            </li>
        </ul>
    
</div>
